<div class="container text-center">
    <h1 class="text-danger">Oops! Something went wrong.</h1>
    <p>
        <%= message %>
    </p>
    <a href="/dashboard" class="btn btn-primary">Go Back Home</a>
</div>