/* dashboard */
body {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    padding: 15px;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background: #495057;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s;
    width: 100%;
}

.navbar {
    background: #f8f9fa;
}

.sidebar.collapsed {
    left: -250px;
}

.content.expanded {
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }

    .content {
        margin-left: 0;
    }
}

/* dashboard LogOut Button */
.btn-logout {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.btn-logout:hover {
    background-color: gray;
}
