<? if (isUserSignedIn) { ?>
<%- include('../dashboardPartials/_dashboardHeader.ejs') %>

    <div class="container mt-5 table-responsive">
        <h2 class="text-center">Your Performance</h2>







    </div>



<%- include('../dashboardPartials/_dashboardFooter.ejs') %>
<? } ?>