<? if (isUserSignedIn) { ?>
<%- include('../dashboardPartials/_dashboardHeader.ejs') %>

    <div class="container mt-5 table-responsive">
        <h2 class="text-center">Welcome to spport</h2>


        




    </div>



<%- include('../dashboardPartials/_dashboardFooter.ejs') %>
<? } ?>